@using StokMvc.Models.Entity;
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ÜRÜN ID</th>
        <th>ÜRÜN AD</th>
        <th>MARKA</th>
        <th>ÜRÜN KATEGORİSİ</th>
        <th>FİYATI</th>
        <th>STOK ADEDİ</th>
        <th>SİL</th>
        <th>GUNCELLE</th>
    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.URUNID</th>
                <td>@urn.URUNAD</td>
                <td>@urn.MARKA</td>
                <td>@urn.URUNKATEGORI</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td>
                    <a href="/URUN/SIL/@urn.URUNID" class="btn btn-danger">SİL</a>
                </td>
                <td>
                    <a href="/URUN/GUNCELLE/@urn.URUNID" class="btn btn-primary">GÜNCELLE</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a href="/URUN/UrunEkle/" class="btn btn-success">YENİ ÜRÜN EKLE</a>


